.header{
  color: #f2f2f2;
  font-size: 36px;
  position: absolute;
  bottom: 200px;
  width: 100%;
  text-align: center;
}

* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;}

.img-cover {
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
    z-index: -1;
    padding-bottom: 10px;
}

/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}